@charset "UTF-8";
/* CSS Document */


.fontBebas18{
	font-family:'bebas_neueregular';
	font-size:18px;
}

.fontBebas24{
	font-family:'bebas_neueregular';
	font-size:24px;
}

.fontBebas26{
	font-family:'bebas_neueregular';
	font-size:26px;
}

.fontBebas30{
	font-family:'bebas_neueregular';
	font-size:30px;
}

.fontBebas36{
	font-family:'bebas_neueregular';
	font-size:36px;
}

.fontBebas42{
	font-family:'bebas_neueregular';
	font-size:42px;
}

.fontBebas48{
	font-family:'bebas_neueregular';
	font-size:48px;
}

.fontOpen12{
	font-family:'open_sanslight';
	font-size:12px;
}

.fontOpen14{
	font-family:'open_sanslight';
	font-size:14px;
}

.fontOpen16{
	font-family:'open_sanslight';
	font-size:16px;
}

.fontOpen18{
	font-family:'open_sanslight';
	font-size:18px;
}

.fontOpen30{
	font-family:'open_sanslight';
	font-size:30px;
}

.fontSegoe48{
	font-family:'SegoeUIRegular';
	font-size:48px;
}

.whiteFont{
	color:#FFF;
}


/*EMBED*/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUIRegular';
    src: url('fonts/segoeui.eot');
    src: url('fonts/segoeui.eot') format('embedded-opentype'),
         url('fonts/segoeui.woff') format('woff'),
         url('fonts/segoeui.ttf') format('truetype'),
         url('fonts/segoeui.svg#SegoeUIRegular') format('svg');
}